function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 16384
pop static 2
push constant 0
pop static 3
push constant 1
pop static 4
push constant 1
neg
pop static 5
push static 3
push static 1
add
push constant 16384
push constant 2048
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 2
push argument 0
call Memory.best_fit 1
pop local 0
push local 0
push static 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
pop local 1
push local 1
push argument 0
call Memory.do_alloc 2
pop static 1
goto IF_END1
label IF_FALSE1
push static 4
push local 0
add
pop pointer 1
push that 0
pop local 1
push static 4
push local 0
add
push local 1
push argument 0
call Memory.do_alloc 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END1
label IF_END0
push local 1
push constant 1
add
return
function Memory.best_fit 5
push static 2
pop local 0
push constant 16384
push constant 2048
sub
pop local 3
push static 1
pop local 2
push constant 0
pop local 1
label WHILE_EXP0
push local 2
push constant 0
eq
not
not
if-goto WHILE_END0
push static 3
push local 2
add
pop pointer 1
push that 0
push constant 1
sub
pop local 4
push local 4
push argument 0
lt
not
push local 4
push local 3
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop local 0
push local 4
pop local 3
label IF_FALSE0
push local 2
pop local 1
push static 4
push local 2
add
pop pointer 1
push that 0
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Memory.do_alloc 2
push static 3
push argument 0
add
pop pointer 1
push that 0
push argument 1
push constant 1
add
push constant 2
add
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
push argument 1
add
push constant 1
add
pop local 0
push static 4
push local 0
add
push static 4
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 3
push local 0
add
push static 3
push argument 0
add
pop pointer 1
push that 0
push local 0
push argument 0
sub
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push constant 1
add
pop argument 0
push static 5
push argument 0
add
push argument 1
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push static 4
push argument 0
add
pop pointer 1
push that 0
pop local 0
push static 3
push argument 0
add
pop pointer 1
push that 0
pop local 1
push argument 0
push constant 1
add
pop argument 0
push static 5
push argument 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push local 0
return
function Memory.deAlloc 3
push static 5
push argument 0
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 1
sub
pop argument 0
push argument 0
call Memory.find_prev_free 1
pop local 1
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 3
push argument 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push argument 0
add
push static 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
pop static 1
push argument 0
pop local 1
goto IF_END0
label IF_FALSE0
push local 1
push static 3
push local 1
add
pop pointer 1
push that 0
add
push argument 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 3
push local 1
add
push static 3
push local 1
add
pop pointer 1
push that 0
push local 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END1
label IF_FALSE1
push static 3
push argument 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push argument 0
add
push static 4
push local 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push local 1
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
pop local 1
label IF_END1
label IF_END0
push local 1
push static 3
push local 1
add
pop pointer 1
push that 0
add
push static 4
push local 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 4
push local 1
add
pop pointer 1
push that 0
pop local 2
push static 3
push local 1
add
push static 3
push local 1
add
pop pointer 1
push that 0
push static 3
push local 2
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push local 1
add
push static 4
push local 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push constant 0
return
function Memory.find_prev_free 1
push static 1
push argument 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push static 1
pop local 0
label WHILE_EXP0
push static 4
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
push static 4
push local 0
add
pop pointer 1
push that 0
push argument 0
lt
and
not
if-goto WHILE_END0
push static 4
push local 0
add
pop pointer 1
push that 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
