function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub  
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub  
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return  
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return  
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg  
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return  
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return  
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add  
push this 1
push constant 5
add  
call Screen.drawRectangle 4
pop temp 0
push constant 0
return  
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return  
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add  
return  
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub  
pop this 2
push argument 2
push this 1
sub  
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt  
pop this 7
push this 7
not  
if-goto label2 
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt  
pop this 8
push this 0
push argument 1
lt  
pop this 9
goto label1 
label label2 
push this 0
push argument 1
lt  
pop this 8
push this 1
push argument 2
lt  
pop this 9
label label1 
push constant 2
push local 1
call Math.multiply 2  
push local 0
sub  
pop this 4
push constant 2
push local 1
call Math.multiply 2  
pop this 5
push constant 2
push local 1
push local 0
sub  
call Math.multiply 2  
pop this 6
push constant 0
return  
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt  
not  
if-goto label4 
push this 4
push this 5
add  
pop this 4
goto label3 
label label4 
push this 4
push this 6
add  
pop this 4
push this 9
not  
if-goto label6 
push this 7
not  
if-goto label8 
push this 0
push constant 4
add  
pop this 0
goto label7 
label label8 
push this 1
push constant 4
add  
pop this 1
label label7 
goto label5 
label label6 
push this 7
not  
if-goto label10 
push this 0
push constant 4
sub  
pop this 0
goto label9 
label label10 
push this 1
push constant 4
sub  
pop this 1
label label9 
label label5 
label label3 
push this 8
not  
if-goto label12 
push this 7
not  
if-goto label14 
push this 1
push constant 4
add  
pop this 1
goto label13 
label label14 
push this 0
push constant 4
add  
pop this 0
label label13 
goto label11 
label label12 
push this 7
not  
if-goto label16 
push this 1
push constant 4
sub  
pop this 1
goto label15 
label label16 
push this 0
push constant 4
sub  
pop this 0
label label15 
label label11 
push this 0
push this 10
gt  
not  
not  
if-goto label18 
push constant 1
pop this 14
push this 10
pop this 0
goto label17 
label label18 
label label17 
push this 0
push this 11
lt  
not  
not  
if-goto label20 
push constant 2
pop this 14
push this 11
pop this 0
goto label19 
label label20 
label label19 
push this 1
push this 12
gt  
not  
not  
if-goto label22 
push constant 3
pop this 14
push this 12
pop this 1
goto label21 
label label22 
label label21 
push this 1
push this 13
lt  
not  
not  
if-goto label24 
push constant 4
pop this 14
push this 13
pop this 1
goto label23 
label label24 
label label23 
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return  
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2  
pop local 2
push this 3
push constant 10
call Math.divide 2  
pop local 3
push argument 1
push constant 0
eq  
not  
if-goto label26 
push constant 10
pop local 4
goto label25 
label label26 
push this 2
push constant 0
lt  
not  
push argument 1
push constant 1
eq  
and  
push this 2
push constant 0
lt  
or  
push argument 1
push constant 1
neg  
eq  
and  
not  
if-goto label28 
push constant 20
pop local 4
goto label27 
label label28 
push constant 5
pop local 4
label label27 
label label25 
push this 14
push constant 1
eq  
not  
if-goto label30 
push constant 506
pop local 0
push local 3
push constant 50
neg  
call Math.multiply 2  
push local 2
call Math.divide 2  
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2  
add  
pop local 1
goto label29 
label label30 
push this 14
push constant 2
eq  
not  
if-goto label32 
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2  
push local 2
call Math.divide 2  
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2  
add  
pop local 1
goto label31 
label label32 
push this 14
push constant 3
eq  
not  
if-goto label34 
push constant 250
pop local 1
push local 2
push constant 25
neg  
call Math.multiply 2  
push local 3
call Math.divide 2  
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2  
add  
pop local 0
goto label33 
label label34 
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2  
push local 3
call Math.divide 2  
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2  
add  
pop local 0
label label33 
label label31 
label label29 
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return  
