function Main.main 2
push constant 8001
push constant 16
push constant 1
neg  
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 1
push local 1
call Main.convert 1
pop temp 0
push constant 0
return  
function Main.convert 3
push constant 1
neg  
pop local 2
label label1 
push local 2
not  
if-goto label2 
push local 1
push constant 1
add  
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push constant 9000
push local 1
add  
push local 0
call Memory.poke 2
pop temp 0
push local 1
push constant 16
gt  
not  
not  
if-goto label4 
push argument 0
push local 0
and  
push constant 0
eq  
not  
not  
if-goto label6 
push constant 8000
push local 1
add  
push constant 1
call Memory.poke 2
pop temp 0
goto label5 
label label6 
push constant 8000
push local 1
add  
push constant 0
call Memory.poke 2
pop temp 0
label label5 
goto label3 
label label4 
push constant 0
pop local 2
label label3 
goto label1 
label label2 
push constant 0
return  
function Main.nextMask 0
push argument 0
push constant 0
eq  
not  
if-goto label8 
push constant 1
return  
goto label7 
label label8 
push argument 0
push constant 2
call Math.multiply 2  
return  
label label7 
function Main.fillMemory 0
label label9 
push argument 1
push constant 0
gt  
not  
if-goto label10 
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub  
pop argument 1
push argument 0
push constant 1
add  
pop argument 0
goto label9 
label label10 
push constant 0
return  
